<div class="search">

  <h1>this is search</h1>

  <div class="searchbox">
  <form ng-submit="campCtrl.getCamps(campCtrl.state)">
    <input class="form-control input-lg" placeholder="search by state" ng-model="campCtrl.state" type="text" />
    <!-- <span class="input-group=btn"> -->
    <button class="btn btn-info btn-lg" type="button">
      <!-- <i class="glyphicon glyphicon-search"></i> -->
    </button>
  <!-- </span>  -->
  </form>
</div>
<ul>
  <li ng-repeat="camp in campCtrl.allCamps">
    {{camp.facilityName}}
    <img ng-src="{{'http://www.reserveamerica.com' + camp.faciltyPhoto}}">
  </li>
</ul>

</div>


<!--
<ng-repeat="camp in campCtrl">
  <td>{{camp.name}} -->
