@import url('https://fonts.googleapis.com/css?family=Pacifico');

/*.splashtext {
  /*margin-top: 50px;*/
 /*font-family: 'Pacifico', cursive;
 font-size: 180px;
 text-align: center;
 color: black;
}*/

#header-text {
  margin-top: 40px;
  margin-left: 200px;
  position: absolute;
  font-family: 'Pacifico', cursive;
  font-size: 180px;
  text-align: center;
  color: black;
}

p#hometext {
  /*font-family: 'Tahoma';*/
  font-size: 25px;
  color: white;
  width: 350px;
  margin-left: 620px;
  margin-top: 100px;
}

h2.description {
  font-family: 'Pacifico', cursive;
}

h2.directions {
  font-family: 'Pacifico', cursive;

}

h2.activities {
  font-family: 'Pacifico', cursive;

}

a {
  font-variant: small-caps;
  font-size: 15px;
  padding: 5px;
  color: white;
}

li {
  list-style: none;
  font-size: 15px;
}

.nav {
  margin: 5px;
  margin-left: 10px;
}

.full {
   height: 800px;
   min-width: 1000px;
   background-size: cover;
   background-image: url('../assets/splash.jpg');
 }

 .search {
   margin-top: 100px;
   text-align: center;
   align-items: center;
 }

.searchbox {
  width: 400px;
  margin: 0 auto;
  padding: 0px;
  /*display: inline-block;*/
}
.resultspage {
  margin: 0 auto;
  padding: 50px;
}

.results {
  /*font-size: 30px;*/
  font-variant: small-caps;
  margin: 0 auto;

  padding: 10px;
  /*width: 60px;
  height: 60px;*/
}

/*button.searchbutton {
  height: 60px !important;
  width: 60px !important;
}*/

.loginform {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

.info {
  padding-top: 100px;
  margin: 0 auto;
  width: 600px;
}

h1.description {

}

.username {
  font-size: 30px;
  font-variant: small-caps;
  /*padding: 15px;*/
  margin-top: 100px;
}

.profile {
  margin-top: 200px;
  /*text-align: center;*/
  width: 600px;
  margin: 0 auto;
}

.about {
  margin: 100px;
}
