@import url('https://fonts.googleapis.com/css?family=Pacifico');

/*.splashtext {
  /*margin-top: 50px;*/
 /*font-family: 'Pacifico', cursive;
 font-size: 180px;
 text-align: center;
 color: black;
}*/

#header-text {
  margin-top: 40px;
  margin-left: 200px;
  position: absolute;
  font-family: 'Pacifico', cursive;
  font-size: 180px;
  text-align: center;
  color: black;
}

p#hometext {
  /*font-family: 'Tahoma';*/
  font-size: 25px;
  color: white;
  width: 350px;
  margin-left: 620px;
  margin-top: 100px;
}

a {
  font-variant: small-caps;
  font-size: 15px;
  padding: 5px;
  color: white;
}

li {
  list-style: none;
  font-size: 30px;
}

.nav {
  margin: 5px;
  margin-left: 10px;
}

.full {
   height: 800px;
   min-width: 1000px;
   background-image: url('../assets/splash.jpg');
 }

 .search {
   margin: 100px;
   text-align: center;
   align-items: center;
 }

.searchbox {
  width: 400px;
  margin: 0 auto;
  /*display: inline-block;*/
}
.resultspage {
  margin: 30px;
}

.results {
  font-size: 30px;
  font-variant: small-caps;
  margin: 0 auto;
  padding: 10px;
}

.loginform {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

.info {
  margin: 100px;
}

h1.description {
  
}

.about {
  margin: 100px;
}
